.checkbox {
  color: #3AB8BC;
}

.container {
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .border {
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #828282;
    border-radius: 2px;

    &_checked {
      background-color: #00EAD9;
      border: 2px solid #00EAD9;
    }
    &_disabled{
      border: 2px solid #E0E0E0;
      cursor: not-allowed;
    }

    .mark {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 10px;
    }
  }
  &:hover{
    .border {
      border: 2px solid #00EAD9;
    }
  }
}
