.container {
  width: 824px;
  height: 374px;
  //margin: 289px calc((100% - 724px) / 2);
  margin:0 calc((100% - 724px) / 2) 0 ;
  //border: 1px solid gray;
  position: relative;

  .title {
    max-width: 650px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
  }

  .answers {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 60px;

    .item {
      margin: 5px 5px;
    }
  }

  .answerButtons {
    display: inline-flex;
    position: absolute;
    right: 0;
    bottom: 0;

    .item {
      margin-left: 12px;
    }

  }
}

.statistic{
  color: #828282;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin: 20px 0;


}
.statisticButton{
  margin-top: 20px;
}

.statusFalse{
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 2, 2, 0.7);
  color: white;
}
.statusTrue{
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
}

.statisticContainer{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.question{
  color: #696969;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 10px 10px;
}
.answer{
  color: #696969;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 10px 10px;
}
.questionTitle{
  color: #828282;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin: 10px 10px;
}

.answerTitle{
  color: #828282;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin: 10px 10px;
}